
<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<body style="background-color:#99ccff">

     {% load static %}
{% load staticfiles %}

<center>
<head>
    <br>
    <br>
  <div class="alert alert-success">
  <h1>Enter Car Details</h1>
</div>

    <meta charset="UTF-8">
    <title>Index</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    </div>
  </div>

  </div>
  <div class="form-group">
    <label class="col-sm-2 col-form-label">Car </label>
    <div class="col-sm-4">
      {{ form.car }}
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 col-form-label">Colour </label>
    <div class="col-sm-4">
      {{ form.colour }}
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 col-form-label">Prise </label>
    <div class="col-sm-4">
      {{ form.prise }}
    </div>

  </div>
      <div class="form-group">
    <label class="col-sm-2 col-form-label">Model </label>
    <div class="col-sm-4">
      {{ form.model }}
    </div>
        <div class="">

            </div>

 </div>
        <br>


  </div>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>

</form>

</center>
     <center>
</center>
</body>
</html>